# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=promo
DB_PORT=5432

# API ports
DEV_PORT=3000
PROD_PORT=3001
# для локальных миграций
DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:5432/promo
# для контейнера api-dev
DATABASE_URL_DOCKER=postgresql://postgres:postgres@db:5432/promo?schema=public
